<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/wolftrack.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

  {% block head_content %} {% endblock %}

  {% if head_title %}
    <title>{{ head_title }} - Scheduler</title>
  {% else %}
    <title>Room Scheduler</title>
  {% endif %}

</head>
<body>
  <!-- Header section -->
  {% include '_header.html' %}



  <div class="flash_container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="flash {{ category }}" id="flash-message">
        <div class="left-section">!</div>
        <div class="right-section">
          {{ message }}
          <div class="close-btn" onclick="this.parentElement.parentElement.style.display='none';">x</div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Content section -->
  <main class="main">
    {% block main_content %} {% endblock %}
    

    {% include '_footer.html' %}
  </main>
</body>
</html>