{% extends 'base_main.html'%}
{% from 'macros/svg_icons.html' import show, hide %}


{% block head_content %} 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forms.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}

{% block main_content %}

  <h1>{{ page_title }}</h1>

  <section class="section_form">
    <form  class="form" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="form_group">
        {{ form.username.label(class="form_label") }}
        {{ form.username(size=32, class="form_input", autocomplete="off", autofocus=true,) }}
        {% for error in form.username.errors %}
          <span class="form_error">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form_group">
        {{ form.password.label(class="form_label" ) }}
  
        <div class="password-container">
          {{ form.password(class="size=32, form_input", id="password", autocomplete="off") }} 
          <button type="button" id="togglePassword" class="password-toggle">
  
            {{ show("svg_icon","showIcon" ) }} 
            {{ hide("svg_icon","hideIcon" ) }} 
  
          </button>
        </div>
  
        {% for error in form.password.errors %}
        <span class="form_error">[{{ error }}]</span>
        {% endfor %}
      </div>
        
      <div class="form_submit">
        {{ form.submit(class="form_submit-button") }} 
      </div>
  
    </form>
  
      
  </section>


{% endblock %}